USE [TreeStoreDB]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Birthday] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreateOn] [datetime] NOT NULL,
	[Fullname] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Position] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VLogin]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VLogin] AS
SELECT 
    u.UserId,
    u.Username,
    u.Avatar,
    u.Password,
    u.Fullname,
    STRING_AGG(r.Name, ', ') AS ListRoleName,  -- Ghép tên các vai trò của người dùng thành một chuỗi
    u.Phone,
    u.Email,
    u.Address,
    u.Birthday,
    u.CreateOn
FROM 
    [User] u
LEFT JOIN 
    UserRole ur ON u.UserId = ur.UserId
LEFT JOIN 
    Role r ON ur.RoleId = r.RoleId
GROUP BY 
    u.UserId, u.Username, u.Avatar, u.Password, u.Fullname, u.Phone, u.Email, u.Address, u.Birthday, u.CreateOn;
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](255) NOT NULL,
	[Image] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateOn] [datetime] NOT NULL,
	[TotalProduct] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[CreateOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateByUserId] [int] NOT NULL,
	[CreateBy] [nvarchar](255) NULL,
	[IsBadCustomer] [bit] NOT NULL,
	[ReasonBad] [nvarchar](500) NULL,
	[Image] [nvarchar](255) NULL,
	[Username] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CreateOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CustomerId] [int] NOT NULL,
	[State] [smallint] NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[CreateOn] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PromotionId] [int] NULL,
	[IsPaid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[PriceInput] [int] NOT NULL,
	[PriceOutput] [int] NOT NULL,
	[Img] [nvarchar](255) NULL,
	[IsSell] [bit] NULL,
	[IsActive] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[Quantity] [int] NOT NULL,
	[SaleOff] [smallint] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsBanner] [bit] NOT NULL,
	[IsFeather] [bit] NOT NULL,
	[IsSpecialOffer] [bit] NOT NULL,
	[IsPopular] [bit] NOT NULL,
	[BannerImg] [nvarchar](255) NULL,
	[IntroduceBannerHtml] [nvarchar](max) NULL,
	[Slug] [nvarchar](255) NULL,
	[Img2] [nvarchar](255) NULL,
	[Img3] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOrder]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOrder](
	[ProductOrderId] [int] IDENTITY(1,1) NOT NULL,
	[Price] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromotionId] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [nvarchar](255) NOT NULL,
	[PromotionCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreationDate] [datetime] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[MinimumPurchaseAmount] [decimal](18, 2) NOT NULL,
	[UsageLimit] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[OrderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreateOn] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name], [Slug], [Image], [IsActive], [CreateOn], [TotalProduct]) VALUES (2, N'CÂY TRONG NHÀ  ', N'cay-bonsai-cap-nhat', N'FilesClient\prayer-plant-1__18112024__022013972.jpg', 1, CAST(N'2024-10-03T10:00:00.000' AS DateTime), 55)
INSERT [dbo].[Category] ([CategoryId], [Name], [Slug], [Image], [IsActive], [CreateOn], [TotalProduct]) VALUES (3, N'CÂY NGOÀI TRỜI', N'cy-o2', N'FilesClient\prayer-plant-1__18112024__022013972.jpg', 1, CAST(N'2024-10-03T10:00:00.000' AS DateTime), 60)
INSERT [dbo].[Category] ([CategoryId], [Name], [Slug], [Image], [IsActive], [CreateOn], [TotalProduct]) VALUES (4, N'CÂY VĂN PHÒNG', N't22', N'FilesClient\prayer-plant-1__18112024__022013972.jpg', 1, CAST(N'2021-11-11T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [FullName], [Phone], [Address], [CreateOn], [IsActive], [CreateByUserId], [CreateBy], [IsBadCustomer], [ReasonBad], [Image], [Username], [Password], [Email]) VALUES (1, N'Nguyen Thi Minh Tam', N'097172648', N'Thành Phố Buôn Mê Thuật', CAST(N'2025-05-27T17:44:23.943' AS DateTime), 1, 0, NULL, 0, NULL, NULL, N'taone', N'$s2$16384$8$1$TnKyx6/6wpOFZFG1QybmHYmzUb5mRwvrs5YdtEgastw=$zh4FsFc+sIOEcLp/gQiWNANkrQ+qwUBYFHplliF777Y=', N'tamntm0509@gmail.com')
INSERT [dbo].[Customer] ([CustomerId], [FullName], [Phone], [Address], [CreateOn], [IsActive], [CreateByUserId], [CreateBy], [IsBadCustomer], [ReasonBad], [Image], [Username], [Password], [Email]) VALUES (2, N'Nguyễn Thị Minh ', N'0965566778', N'Lý Thường Kiệt, P9, Quận Tân phsu,PHCM', CAST(N'2024-10-07T22:23:41.030' AS DateTime), 1, 1, N'Admin', 0, NULL, NULL, N'user123', N'password123', N'tam@email.com')
INSERT [dbo].[Customer] ([CustomerId], [FullName], [Phone], [Address], [CreateOn], [IsActive], [CreateByUserId], [CreateBy], [IsBadCustomer], [ReasonBad], [Image], [Username], [Password], [Email]) VALUES (3, N'Nguyễn Ngọc Bảo Trâm', N'0944455667', N'123 Lê Lợi, Quận 1, TP. Hồ Chí Minh', CAST(N'2024-10-31T20:18:16.487' AS DateTime), 0, 0, NULL, 0, NULL, NULL, N'amiel39', N'$s2$16384$8$1$FuJnr9zlXugYlcEK9FXFsT9DJcn702ukjUOgYCy0epU=$zUWhu+xfAf0rYC3jSPNSMhg9sL8j0AnOhp8MtIa5FlM=', N'amiel@gmail.com')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([FavoriteId], [CustomerId], [ProductId], [CreateOn]) VALUES (1, 26, 7, CAST(N'2025-06-01T08:47:54.043' AS DateTime))
INSERT [dbo].[Favorite] ([FavoriteId], [CustomerId], [ProductId], [CreateOn]) VALUES (2, 27, 9, CAST(N'2025-06-01T09:48:26.227' AS DateTime))
INSERT [dbo].[Favorite] ([FavoriteId], [CustomerId], [ProductId], [CreateOn]) VALUES (3, 27, 3, CAST(N'2025-06-02T16:55:05.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[Favorite] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [UserId], [CustomerId], [State], [Note], [CreateOn], [TotalAmount], [PromotionId], [IsPaid]) VALUES (8, NULL, 1, 2, N'Don hang dau tien', CAST(N'2024-10-27T18:59:16.493' AS DateTime), CAST(1800000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [dbo].[Order] ([OrderId], [UserId], [CustomerId], [State], [Note], [CreateOn], [TotalAmount], [PromotionId], [IsPaid]) VALUES (9, NULL, 1, 4, N'Don hang dau tien', CAST(N'2024-10-28T10:13:48.167' AS DateTime), CAST(600000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [dbo].[Order] ([OrderId], [UserId], [CustomerId], [State], [Note], [CreateOn], [TotalAmount], [PromotionId], [IsPaid]) VALUES (10, NULL, 3, 3, N'Khi nào giao gọi trước 30p nha', CAST(N'2024-11-16T08:54:06.763' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOrder] ON 

INSERT [dbo].[ProductOrder] ([ProductOrderId], [Price], [Quantity], [ProductId], [OrderId]) VALUES (1, 150000, 2, 3, 8)
INSERT [dbo].[ProductOrder] ([ProductOrderId], [Price], [Quantity], [ProductId], [OrderId]) VALUES (2, 750000, 2, 4, 8)
INSERT [dbo].[ProductOrder] ([ProductOrderId], [Price], [Quantity], [ProductId], [OrderId]) VALUES (3, 150000, 4, 3, 9)
GO
SET IDENTITY_INSERT [dbo].[ProductOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([PromotionId], [ProgramName], [PromotionCode], [Description], [CreationDate], [StartDate], [EndDate], [DiscountAmount], [MinimumPurchaseAmount], [UsageLimit], [IsActive], [OrderId]) VALUES (1, N'Khai trương chi nhánh ba', N'CHINHANHMOI', N'Mã giảm giá này được giảm 50k cho những hóa đơn trên 200k', CAST(N'2024-10-27T09:55:16.687' AS DateTime), CAST(N'2024-10-27T17:00:00.000' AS DateTime), CAST(N'2024-11-01T17:00:00.000' AS DateTime), CAST(50000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), 2, 0, NULL)
INSERT [dbo].[Promotion] ([PromotionId], [ProgramName], [PromotionCode], [Description], [CreationDate], [StartDate], [EndDate], [DiscountAmount], [MinimumPurchaseAmount], [UsageLimit], [IsActive], [OrderId]) VALUES (3, N'Siêu giảm phí vận chuyển', N'FREESHIP2024', N'Miễn phí vận chuyển cho đơn hàng từ 50000 VND.', CAST(N'2024-11-03T23:49:13.137' AS DateTime), CAST(N'2024-11-03T16:48:30.043' AS DateTime), CAST(N'2024-11-23T16:48:30.043' AS DateTime), CAST(10000.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), 1, 1, NULL)
INSERT [dbo].[Promotion] ([PromotionId], [ProgramName], [PromotionCode], [Description], [CreationDate], [StartDate], [EndDate], [DiscountAmount], [MinimumPurchaseAmount], [UsageLimit], [IsActive], [OrderId]) VALUES (4, N'Chào mừng khách hàng mới', N'WELCOME50', N'Giảm 50,000 VND cho khách hàng mới khi đặt hàng lần đầu.', CAST(N'2024-11-04T13:51:38.130' AS DateTime), CAST(N'2024-11-04T06:50:59.970' AS DateTime), CAST(N'2024-11-06T06:50:59.970' AS DateTime), CAST(50000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [ProductId], [CustomerId], [Comment], [CreateOn], [IsActive]) VALUES (11, 6, 2, N'Cây rất đẹp, lá xanh tươi và không bị sâu bệnh. Mình rất hài lòng với chất lượng!', CAST(N'2024-10-20T23:08:21.990' AS DateTime), 1)
INSERT [dbo].[Review] ([ReviewId], [ProductId], [CustomerId], [Comment], [CreateOn], [IsActive]) VALUES (12, 7, 1, N'Nhìn trên hình thì đẹp hơn thực tế, cây hơi nhỏ hơn mong đợi. Tuy nhiên, vẫn tạm ổn.', CAST(N'2024-10-20T23:08:21.990' AS DateTime), 1)
INSERT [dbo].[Review] ([ReviewId], [ProductId], [CustomerId], [Comment], [CreateOn], [IsActive]) VALUES (13, 4, 17, N'Giao hàng nhanh, cây được bọc cẩn thận, đất ẩm giữ cây không bị héo. Sẽ ủng hộ lần sau!
', CAST(N'2024-11-11T23:35:57.230' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Administrator')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Manage')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Sales')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [Password], [Phone], [Email], [Address], [Birthday], [IsActive], [CreateOn], [Fullname], [Avatar], [Position]) VALUES (3, N'newuser', N'$s2$16384$8$1$Y+c16enoN4zQrE4CTHjyGdalOOLZdpWO6OtD9ROGVLI=$XoxabFeDcOE1t6lZqu4N5hX5B1CGM6LrYVvwI4sFHCY=', N'0123456789', N'newuser@example.com', N'45 Lê Thanh Nghị, TP. Vinh, Nghệ An
', CAST(N'2000-01-01T00:00:00.000' AS DateTime), 1, CAST(N'2024-09-26T02:18:07.300' AS DateTime), N'Nguyễn  Minh Tâm', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZsL6PVn0SNiabAKz7js0QknS2ilJam19QQ&s', N'Manage')
INSERT [dbo].[User] ([UserId], [Username], [Password], [Phone], [Email], [Address], [Birthday], [IsActive], [CreateOn], [Fullname], [Avatar], [Position]) VALUES (5, N'john_doe', N'$s2$16384$8$1$60d4Rj5WImd6+uBwAX374lL5UZWTEoFj+WA2auhOhh4=$rjGN3p20OxvupKCOntkFmK5SlVlZOZLVW8LFxu1f0r8=', N'123-456-7890', N'minhtam39@gmail.com', N'67 Nguyễn Văn Linh, Cần Thơ
', CAST(N'1990-05-21T00:00:00.000' AS DateTime), 1, CAST(N'2024-09-28T23:53:40.820' AS DateTime), N'Minh Tâm', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZsL6PVn0SNiabAKz7js0QknS2ilJam19QQ&s', N'Administrator, Manage')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [RoleId]) VALUES (60, 26, 1)
INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [RoleId]) VALUES (61, 26, 2)
INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [RoleId]) VALUES (62, 26, 1)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [CreateOn]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [CreateOn]
GO
ALTER TABLE [dbo].[Favorite] ADD  DEFAULT (getdate()) FOR [CreateOn]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [CreateOn]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [SaleOff]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [IsBanner]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [IsFeather]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [IsSpecialOffer]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [IsPopular]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreateOn]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Customer]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_Promotion_Order]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Customer]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Product]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
/****** Object:  StoredProcedure [dbo].[GetDetailProductOrderSP]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDetailProductOrderSP]
    @OrderId INT  -- Định nghĩa tham số đầu vào
AS
BEGIN
    SELECT 
        p.Name, 
        po.Price, 
        po.Quantity, 
        p.Img 
    FROM 
        [ProductOrder] po 
    JOIN 
        [Product] p ON po.ProductId = p.ProductId
    WHERE 
        po.OrderId = @OrderId;  -- Sử dụng tham số đầu vào
END
GO
/****** Object:  StoredProcedure [dbo].[GetListOrderByCustomerIdSP]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetListOrderByCustomerIdSP]
    @CustomerId INT
AS
BEGIN
    SELECT 
        o.OrderId,
        o.CreateOn AS OrderDate, 
        o.TotalAmount, 
        o.State,
        po.ProductId, 
        p.Name AS ProductName, 
        po.Quantity, 
        p.PriceOutput, 
        c.Name AS CategoryName
    FROM [Order] o
    JOIN ProductOrder po ON o.OrderId = po.OrderId
    JOIN Product p ON po.ProductId = p.ProductId
    JOIN Category c ON p.CategoryId = c.CategoryId
    WHERE o.CustomerId = @CustomerId
    ORDER BY o.CreateOn DESC
END

GO
/****** Object:  StoredProcedure [dbo].[GetListOrderSP]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetListOrderSP]
AS
BEGIN
	 SELECT o.OrderId, c.FullName, c.Address, o.State, o.Note, o.CreateOn, o.TotalAmount
    FROM [Order] o 
    JOIN Customer c ON o.CustomerId = c.CustomerId --
END
GO
/****** Object:  StoredProcedure [dbo].[GetListProductSP]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetListProductSP]
AS
BEGIN
	SELECT 
		p.ProductId, 
		p.Name AS ProductName, 
		p.Description, 
		p.PriceOutput, 
		p.IsActive, 
		p.Quantity, 
		p.CategoryId, 
		p.Img,
		p.Img2,            
		p.Img3,            
		c.Name AS CategoryName,
		0 AS TotalSold
	FROM 
		Product p 
	JOIN 
		Category c ON p.CategoryId = c.CategoryId
END

UPDATE [TreeStoreDB].[dbo].[Product]
SET 
Img2 = 'FilesClient/caycauluavang1.jpeg',
Img3 = 'FilesClient/caycauluavang2.webp'
WHERE ProductId = 16 



UPDATE Product
SET 
Img2 = 'FilesClient/chausenda1.jpg',
Img3 = 'FilesClient/chausenda2.jpg'
WHERE ProductId = 25;


UPDATE Product
SET 
Img2 = 'FilesClient/caycamthach1.jpg',
Img3 = 'FilesClient/caycamthach2.webp'
WHERE ProductId = 9;


UPDATE Product
SET 
Img2 = 'FilesClient/caycamthach1.jpg',
Img3 = 'FilesClient/caycamthach2.webp'
WHERE ProductId = 9;


UPDATE Product
SET 
Img2 = 'FilesClient/caytailoc1.jpg',
Img3 = 'FilesClient/caytailoc2.jpeg'
WHERE ProductId = 4;

UPDATE Product
SET 
Img2 = 'FilesClient/cayngocngan1.jpg',
Img3 = 'FilesClient/cayngocngan2.jpg'
WHERE ProductId = 6;


UPDATE Product
SET 
Img2 = 'FilesClient/cayluoiho1.jpg',
Img3 = 'FilesClient/cayluoiho2.jpg'
WHERE ProductId = 7;

UPDATE Product
SET 
Img2 = 'FilesClient/caydaityphu1.jpg',
Img3 = 'FilesClient/caydaityphu2.jpg'
WHERE ProductId = 8;

UPDATE Product
SET 
Img2 = 'FilesClient/caydaityphu1.jpg',
Img3 = 'FilesClient/caydaityphu2.jpg'
WHERE ProductId = 8;

UPDATE Product
SET 
Img2 = 'FilesClient/caytungbonglai1.jpg',
Img3 = 'FilesClient/caytungbonglai2.jpeg'
WHERE ProductId = 12;

UPDATE Product
SET 
Img2 = 'FilesClient/caytrucnhatvang1.jpg',
Img3 = 'FilesClient/caytrucnhatvang2.jpeg'
WHERE ProductId = 14;

UPDATE Product
SET 
Img2 = 'FilesClient/caymonstera1.jpg',
Img3 = 'FilesClient/caymonstera2.jpg'
WHERE ProductId = 15;

UPDATE Product
SET 
Img2 = 'FilesClient/MonsteraMini1.jpg',
Img3 = 'FilesClient/monsteramini2.jpg'
WHERE ProductId = 17;

UPDATE Product
SET 
Img2 = 'FilesClient/MonsteraMini1.jpg',
Img3 = 'FilesClient/monsteramini2.jpg'
WHERE ProductId = 17;

UPDATE Product
SET 
Img2 = 'FilesClient/cayhanhphuc1.webp',
Img3 = 'FilesClient/cayhanhphuc2.jpg'
WHERE ProductId = 18;

UPDATE Product
SET 
Img2 = 'FilesClient/caykimngan1.jpg',
Img3 = 'FilesClient/caykimngan2.jpg'
WHERE ProductId = 20;

UPDATE Product
SET 
Img2 = 'FilesClient/sendagiva1.jpg',
Img3 = 'FilesClient/sendagiva2.jpeg'
WHERE ProductId = 22;


UPDATE Product
SET 
Img2 = 'FilesClient/sendagiva1.jpg',
Img3 = 'FilesClient/sendagiva2.jpeg'
WHERE ProductId = 22;

UPDATE Product
SET 
Img2 = 'FilesClient/sendakimtuyen1.webp',
Img3 = 'FilesClient/sendakimtuyen2.webp'
WHERE ProductId = 24;

UPDATE Product
SET 
Img2 = 'FilesClient/nhatmathuong1.jpg',
Img3 = 'FilesClient/nhatmathuong2.jpg'
WHERE ProductId = 26;

UPDATE Product
SET 
Img2 = 'FilesClient/nhatmathuong1.jpg',
Img3 = 'FilesClient/nhatmathuong2.jpg'
WHERE ProductId = 26;


UPDATE Product
SET 
Img2 = 'FilesClient/caycolanchi1.jpg',
Img3 = 'FilesClient/caycolanchi2.jpg'
WHERE ProductId = 27;

GO
/****** Object:  StoredProcedure [dbo].[GetReviewInfoWithCustomer]    Script Date: 6/22/2025 12:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetReviewInfoWithCustomer]
AS
BEGIN
    SELECT 
        r.ReviewId,
        r.ProductId,
        r.Comment,
        r.CreateOn,
        r.IsActive,
        c.FullName -- Lấy tên khách hàng từ bảng Customer
    FROM 
        [Review] r
    JOIN 
        [Customer] c ON r.CustomerId = c.CustomerId
END
GO
